@font-face {
	font-family:Optima;
	src:url(OPTIMA.TTF);
}

.helpIcon {
	float:right;
	height: 40px;
	width: 40px;
}

td {
	background-color: white;
}

div.transparent {
	background-color: transparent;
	border-style: none;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-family: Arial, sans-serif;
}

div.worldDetailDiv {
	padding: 0.2em 0.2em 0.2em 0.2em;
	width:100%;
	background-color: #EEEEEE;
}

ul {
	list-style-type: none;
	margin-left: 0em;
	margin-right: 0em;
	margin-top:0.1em;
	margin-bottom:0.1em;
	padding: 0;
	background-color: #000000;
	overflow: hidden;
}

li {
	float:left;
}

li a {
	display: block;
	color: #F3F3F3;
	text-align:center;
	text-decoration:none;
	padding:14px 16px;
	font-size:0.7em;
}

li a:hover:not(.active)	{
	background-color:red;
	color:white;
}

.active	{
	color:white;
	font-weight:bold;
}

ul.normal {
	list-style-type: disc;
	margin: 0.2em 0em 0.2em 0em;
	background-color:transparent;
	overflow: visible;
}

li.normal {
	clear:both;
}

.container .menuBar .userInput {
	clear:both;
	font-family: Arial, sans-serif;
}

.menuBar {
	background-color: #1a1a1d;
	min-height: 1.2em;
}

.container {
	background-color: transparent;
}

.userInput {
	background-color: gray;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	padding: 0.2em;
	display:none;
	z-index:1;
	position:fixed;
}


div.subcontainer {
	margin:0;
	border-width: 0em;
	border-style: none;
	font-family: Arial, sans-serif;
	background-color: transparent;
	width:33%;
	padding-left:0;
	padding-right:5px;
	float:left;
	box-sizing:border-box;
}

.contained {
	margin-left:0em;
	margin-right:0.2em;
	margin-top:0;
	margin-bottom:0;
	padding: 0.2em 0.2em 0.2em 0.2em;
	border-width: 3px;
	border-style: solid;
	border-color: #555555;
	background-color: #F3F3F3;
	font-family: Arial, sans-serif;
	width: 100%;
	position:static;
}

.contained_tbl {
	margin:0;
	padding: 0;
	border-width: 0px;
	border-color: #F3F3F3;
	background-color: #F3F3F3;
	font-family: Arial, sans-serif;
}

.loadingAnimation {
	padding: 1em;
	font-family: Arial, sans-serif;
	width: 100%;
	box-sizing:border-box;
	color: #6f2232;
	font-weight:bold;
	font-family: Optima;
	font-size: 20pt;
	animation-name: loading;
	animation-duration: 1s;
	animation-iteration-count: infinite;	
}

@keyframes loading {
  from {color: transparent;}
  to {color: #6f2232;}
}

div.contained_head {
	margin-left:0em;
	margin-right:0.2em;
	margin-top:0;
	margin-bottom:0.2em;
	border-width: 3px;
	border-style: solid;
	border-color: #fafafa;
	background-color: #404040;
	font-family: Arial, sans-serif;
	width: 100%;
	box-sizing:border-box;
}

div.contained-flex {
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	padding:0;
	margin:0;
	border-style: none;
	font-family: Arial, sans-serif;
	width: 100%;
	box-sizing:border-box;
	background-color:transparent;
}

.formItem {
    position: relative;
    display: inline-block;
	margin-top:0.1em;
	margin-bottom:0.1em;
	margin-left:0;
	margin-right:0.3em;
	border-style:none;
	padding:0;
}

.contained-flex-vertical {
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding:0;
	margin: 0 0.5em 0 0;
	border-style: none;
	font-family: Arial, sans-serif;
	box-sizing:border-box;
}

p {
	margin-bottom: 6pt;
	margin-top: 0px;
	font-family: Arial, sans-serif;
	font-size: 0.85em;
}

label {
	margin-top: 0px;
	font-family: Arial, sans-serif;
	font-size: 0.85em;
	
}

body {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Arial, sans-serif;
	font-size: 1em;
	background-color: #1a1a1d;
}

h1 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: "Optima", Arial, sans-serif;
	font-size: 1.5em;
	color:white;
}

.titleStrap	{
	margin: 0;
	font-family: Optima, Arial, sans-serif;
	font-style: italic;
	font-size: 3em;
	font-weight: normal;
	color: red;
	text-align: right;
	border-top: 6px solid red;
}

.title {
	margin-top: 0.1em;
	margin-right: 0em;
	margin-left: 0em;
	margin-bottom: 0em;
	font-family: Optima, Arial, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 2em;
	color: white;
	text-align: left;
}

.subtitle {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-right: 1em;
	margin-left: 1em;
	font-family: Optima, Arial, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1.2em;
	color: white;
	text-align: right;
}

.white {
	color: white;
	text-align: left;
}

.headerWhite {
	color: white;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: center;
}

h2 {
	margin-top: 1em;
	margin-bottom: 0em;
	font-family: Optima, Arial, sans-serif;
	font-weight: bold;
}

h3 {
	margin: 0 0 0.2em 0;
	font-size: 0.85em;
	font-family: Optima, Arial, sans-serif;
	font-weight: bold;
}

h4 {
	margin-top: 0px;
	font-family: Arial, sans-serif;
}

h5 {
	margin-top: 0px;
	font-family: Arial, sans-serif;
}

h6 {
	margin-top: 0px;
	font-family: Arial, sans-serif;
}

.guidelines	{
	font-size:0.7em;
	margin-bottom:0em;
}

.noBullet {
	list-style-type:none;
	margin-bottom: 6pt;
}

.worldDetails {
	margin-bottom: 0.5em;
	border: 0.5px 0.5px 0.5px 0.5px;
	border-style: solid;
	border-color: #555555;
}

p.worldDetails {
	margin-bottom: 0.5em;
	border: none;
	border-style: none;
	background-color:#e0e0e0; 
	font-size:1em;
	min-height:1.5em;
}


.btn1 {
  background: #fa4141;
  background-image: -webkit-linear-gradient(top, #fa4141, #7a1212);
  background-image: -moz-linear-gradient(top, #fa4141, #7a1212);
  background-image: -ms-linear-gradient(top, #fa4141, #7a1212);
  background-image: -o-linear-gradient(top, #fa4141, #7a1212);
  background-image: linear-gradient(to bottom, #fa4141, #7a1212);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: "Optima", Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  padding: 1px 2px 1px 2px;
  text-decoration: none;
  margin: auto;
  min-height: 2em;
}

.btn1:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #9e1111);
  background-image: -moz-linear-gradient(top, #fc3c3c, #9e1111);
  background-image: -ms-linear-gradient(top, #fc3c3c, #9e1111);
  background-image: -o-linear-gradient(top, #fc3c3c, #9e1111);
  background-image: linear-gradient(to bottom, #fc3c3c, #9e1111);
  text-decoration: none;
}

.btn2 {
  background: #b0b0b0;
  background-image: -webkit-linear-gradient(top, #b0b0b0, #555555);
  background-image: -moz-linear-gradient(top, #b0b0b0, #555555);
  background-image: -ms-linear-gradient(top, #b0b0b0, #555555);
  background-image: -o-linear-gradient(top, #b0b0b0, #555555);
  background-image: linear-gradient(to bottom, #b0b0b0, #555555);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 5px 3px 5px;
  margin: 4px 2px 4px 2px;
  text-decoration: none;
}

.textBox_btn2 {
  font-size: 12px;
  padding: 3px 5px 3px 5px;
  margin: 7px 2px 4px 2px;

}

.btn2:hover {
  background: #e0e0e0;
  background-image: -webkit-linear-gradient(top, #e0e0e0, #7f7f7f);
  background-image: -moz-linear-gradient(top, #e0e0e0, #7f7f7f);
  background-image: -ms-linear-gradient(top, #e0e0e0, #7f7f7f);
  background-image: -o-linear-gradient(top, #e0e0e0, #7f7f7f);
  background-image: linear-gradient(to bottom, #e0e0e0, #7f7f7f);
  text-decoration: none;
}

.adjBtn
{
	font-family: Arial;
	padding:0;
	margin:0;
	width:16pt;
	height:16pt;
	text-align:center;
	vertical-align:center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.formItem {
	background-color: transparent;
}

.formItem .tooltiptext {
    visibility: hidden;
    width: 360px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	font-size:0.85em;
    position: absolute;
    z-index: 1;
	top: 100%;
	left: 50%;
	margin-left:-180px;
}


.formItem:hover .tooltiptext {
	visibility: visible;
}

.zoneInner {
	/*background-color:#FFBDA2;*/
}

.zoneWarm {
	/*background-color:#FEFBAA;*/
}

.zoneGoldilocks {
	/*background-color:#B3EFBC;*/
	border-width: 2px;
	border-color: #B3EFBC;
	border-style: solid;
}

.zoneCold {
	/*background-color:#A6A8E5;*/
}

.zoneOuter {
	/*background-color:#9EC7E5;*/
}

.satellite {
	/*border-left-color:black;
	border-left-width:5pt;
	border-left-style:solid; */
	text-align:right;
	font-style:italic;
}

.orbitSetHeader {
	background-color: white;
	font: black;
	font-weight: bold;
	border: 3px black;
	text-align: left;
}

.sys {
	margin: 0pt 0pt 5pt 0pt;
	padding: 0;
	border-style: none;
	background-color: white;
	font-family: Arial, sans-serif;
}

.sys_cell {
	border-style: none;
	margin: 0pt;
	padding:0pt 5pt 5pt 3pt;
	text-align: center;
	min-width: 50pt;
}

.sys_cell_h {
	border-style: none;
	margin: 0pt;
	padding:0pt 5pt 5pt 3pt;
	text-align: center;
	vertical-align: top;
	min-width: 50pt;
}

.sys_symbol_LGG {
	max-width: 10pt;
	max-height: 10pt;
	margin: 0pt 0pt 5pt 20pt;
	text-align: center;
	display: block;
	-webkit-transform: rotate(-90deg) scale(4,4);
	-moz-transform: rotate(-90deg) scale(4,4);
	-ms-transform: rotate(-90deg) scale(4,4);
	-o-transform: rotate(-90deg) scale(4,4);
	transform: rotate(-90deg) scale(4,4);
}

.sys_symbol_SGG {
	max-width: 10pt;
	max-height: 10pt;
	text-align: center;
	margin: 0pt 0pt 5pt 20pt;
	display: block;
	-webkit-transform: rotate(-90deg) scale(2.5,2.5);
	-moz-transform: rotate(-90deg) scale(2.5,2.5);
	-ms-transform: rotate(-90deg) scale(2.5,2.5);
	-o-transform: rotate(-90deg) scale(2.5,2.5);
	transform: rotate(-90deg) scale(2.5,2.5);
}

.sys_symbol_orbitSet {
	max-width: 10pt;
	max-height: 10pt;
	margin: 0pt 0pt 5pt 15pt;
	text-align: center;
	display: block;
	-webkit-transform: rotate(-90deg) scale(5,5);
	-moz-transform: rotate(-90deg) scale(5,5);
	-ms-transform: rotate(-90deg) scale(5,5);
	-o-transform: rotate(-90deg) scale(5,5);
	transform: rotate(-90deg) scale(5,5);

}

.sys_symbol_minor_world {
	display: block;
	text-align:center;
	font-size: 200%;
}

.sys_symbol_belt {
	display: block;
	text-align:center;
	font-size: 300%;
}

.sys_symbol_main_world {
	display: block;
	text-align:center;
	font-size: 200%;
}

.sys_symbol_star {
	font-family: sans-serif;
	font-size:400%
}

.sys_companion {
	font-size:250%;
	vertical-align: bottom;
	float:left;
}

.sys_satellite_name {
	font-size:80%;
	margin: 0px 0px 0px 5px;
	display:inline;
}

.sys_satellite_uwp {
	font-size:80%;
	margin: 0px 0px 1px 16px;
	display:block;
}

.sys_details {
	text-align: left;
	font-size:0.8em;
	clear:both;
	margin:0;
	padding:0;
}

.sys_orbit {
	text-align: center;
	font-size:1em;
	clear:both;
	margin:0;
	padding:0;
}

.sys_sat_table {
	max-width: 50pt;
}

.sys_symbol_LGG::before { content: '\25CD';}
.sys_symbol_SGG::before { content: '\25CD';}
.sys_symbol_orbitSet::before { content: '\25CE'; }
.sys_symbol_main_world::before { content: '\25CF';}
.sys_symbol_minor_world::before { content: '\25CB';}
.sys_symbol_belt::before { content: '\2591';}
.sys_symbol_star::before { content: ')'; }

.cX_adjective {
	text-transform:capitalize;
	float:left;
	font-size:1em;
	padding:0.1em 0.2em 0.1em 0.2em;
}
/*
Charcoal Grey = #1a1a1d
Grey = #4e4e50
Subdued darker red = #6f2232
Pinkish bright red = #950740
Subdued brighter red = #c3073f
*/

.dropbtn {
  background-color: #6f2232;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn_div {
  background-color: #6f2232;
  color: white;
  padding:2px 4px 15px 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c3073f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content button:hover {background-color: #950740}

.dropdown-content a:hover {background-color: #950740}

.dropbtn:hover {
	background-color: #1a1a1d;
	border:4px solid #c3073f;
	padding:12px;
}

.dropbtn_div:hover {
	background-color: #1a1a1d;
	border-style:solid;
	border-color: #c3073f;
	border-width: 2px 2px 2px 2px;
    padding:0px 2px 13px 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown_button {
	color:white;
	background-color:transparent;
	border: none;
	text-decoration: none;
	width:100%;
	text-align:left;
	font-size:12px;
}

.editToolbar {
	margin: 10px;
	background-color:#303030;
	position:static;
}

.editTools {
	width:36px;
	height:40px;
	background-color:white;
	float:left;
	overflow:hidden;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
}


